@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Magtis";
  src: url("/fonts/Magtis-ExtraBold.otf");
}

@font-face {
  font-family: "Casta-Thin";
  src: url("/fonts/Casta-Thin.otf");
}

@font-face {
  font-family: "Forum";
  src: url("/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: "Work-Sans";
  src: url("/fonts/WorkSans-Regular.ttf");
}
